<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Encuentranos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.youtube.com/watch?v=RjOOYjuOYf0" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/watch?v=RjOOYjuOYf0" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
          <img src="assets/imagenes/instagram.PNG" class="img-fluid" style="height: 40px; width: 40px;">
        </a>
        <a href="https://www.youtube.com/watch?v=RjOOYjuOYf0" class="me-4 text-reset">
          <i class="fab fa-google"></i>
          <img src="assets/imagenes/github.png" class="img-fluid" style="height: 40px; width: 60px;">
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
          <img src="assets/imagenes/facebook.PNG" class="img-fluid" style="height: 40px; width: 40px;">
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
       
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Progresa Festivals
            </h6>
            <p>
              Una empresa dedicada a la creacion de paginas webs desde 2012
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Atencion al cliente
            </h6>
            <p>
              <a href="#!" class="text-reset" routerLink="/home" routerLinkActive="active">Sobre nosotros</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="/contacto" routerLinkActive="active">Contacto</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="/productos" routerLinkActive="active">Productos</a>
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Tienda ProgresaFest
            </h6>
            <p>
              <a href="#!" class="text-reset" routerLink="/home" routerLinkActive="active">Entradas</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="/productos" routerLinkActive="active">Camisetas</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="/productos" routerLinkActive="active">Sudaderas</a>
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Valencia, VLC 10012, ES</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info&#64;cieep.com

            </p>
            <p><i class="fas fa-phone me-3"></i> + 34 633 332 234</p>
            <p><i class="fas fa-print me-3"></i> + 34 243 521 523</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright: PROGRESA FESTIVALS
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
