<br><br><br><br>

<div class="container-fluid mx-auto text-lg-start" style="padding-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card" style="width: 18rem; margin-top: 50px; ">
                <img src="{{personajeOne.image}}" class="card-img-top" alt="..." width="200px">
                <div class="card-body text-center">
                    <h5 class="card-title">{{personajeOne.name}}</h5>
                    <p class="card-text">{{personajeOne.gender}}</p>

                    <button class="btn btn-primary">Sublimar</button>
                  </div>
                <ul class="list-group list-group-flush text-center">

                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

