<div class="container-fluid">
    <div class="row-12">
        <h1>Nuestras entradas</h1>
    </div>
</div>

<div class="container-fluid d-flex justify-content-around" style="background-color: bisque;">       
    <div  style="width: 18rem;">
        <img src="assets/imagenes/silver pass.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Silver pass</h5>
          <p class="card-text">1 unidad de bebida</p>
          <a href="#" class="btn btn-primary" routerLink="/productos" routerLinkActive="active">Comprar</a>
        </div>
      </div>
      <div  style="width: 18rem;">
        <img src="assets/imagenes/BRONZE pass.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brozen pass</h5>
          <p class="card-text">2 unidades de  bebidas</p>
          <a href="#" class="btn btn-primary" routerLink="/productos" routerLinkActive="active">Comprar</a>
        </div>
      </div>

      <div  style="width: 18rem;">
        <img src="assets/imagenes/golden pass.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Golden pass</h5>
          <p class="card-text">3 unidades de bebida y sala vip</p>
          <a href="#" class="btn btn-primary" routerLink="/productos" routerLinkActive="active">Comprar</a>
        </div>
      </div>


</div>