<br><br>

<div class="container-fluid">
    <div class="row-12">
        <h1>Sobre nosotros</h1>
    </div>
</div>

<div class="container-fluid d-flex justify-content-around" style="background-color: bisque;">
    <div style="width: 500px; margin-top: 50px;">
        <div class="card-body">
            <p>Nuestro equipo de trabajo está formado por un selecto grupo de expertos, cuya misión es ofrecer una experiencia impecable para los aficionados de la música que buscan disfrutar de nuestros eventos en vivo. Abarcando diversas disciplinas para proporcionar un servicio de calidad.</p>
            <p>Los principales integrantes del grupo son Carlos y Vicente José por parte de la coordinación logística, Antelo como experto en tecnología y Esteban junto con Emilio como promotores, asegurando una ejecución fluida y colaborativa. Contribuyendo así al éxito y la satisfacción tanto de los clientes como de los artistas.</p>
        </div>
    </div>

    <div style="width: 500px;">
        <div class="card-body">
          
            <img src="assets/imagenes/paaca.jpg" style="width: 500px; height: 350px;">


        </div>
    </div>
</div>

<app-entradas-auto></app-entradas-auto>
<app-entradas></app-entradas>
<app-cantantes></app-cantantes>
<app-footer></app-footer>
