<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Productos</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: bisque;
    }
  </style>
</head>
<body>

  <div class="container mt-5">
    <h1 class="text-center mb-4">Nuestros Productos</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/sudadera png.png" class="card-img-top" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title">Sudadera Progresa Fest</h5>
            <a href="#" class="btn btn-primary btn-block">Ver Detalles</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/fotosudadera-removebg-preview.png" class="card-img-top" alt="Producto 2" style="height: 100%; width: 80%; margin-top: 30px; margin-left: 65px;">
          <div class="card-body">
            <h5 class="card-title">Camiseta Progresa Fest</h5>
            <a href="#" class="btn btn-primary btn-block">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/gorrapng.png" class="card-img-top" alt="Producto 3" style="margin-top: 150px;">
          <div class="card-body">
            <h5 class="card-title">Gorra Progresa Fest</h5>
            <a href="#" class="btn btn-primary btn-block">Ver Detalles</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/mochila.png" class="card-img-top" alt="Producto 4" >
          <div class="card-body">
            <h5 class="card-title">Mochila Progresa Fest</h5>
            <a href="#" class="btn btn-primary btn-block">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-4">
          <img src="assets/imagenes/botellapng.png" class="card-img-top" alt="Producto 5">
          <div class="card-body">
            <h5 class="card-title">Cantinplora Progresa Fest</h5>
            <a href="#" class="btn btn-primary btn-block">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
