<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Productos</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: bisque;
    }
  </style>
</head>
<body>

  <div class="container mt-5">
    <h1 class="text-center mb-4">Nuestros Productos</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/sudadera png.png" class="card-img-top" alt="Sudadera">
          <div class="card-body">
            <h5 class="card-title">Sudadera</h5>
            <select class="custom-select mb-2">
              <option selected>Talla</option>
              <option value="1">XS</option>
              <option value="2">S</option>
              <option value="3">M</option>
              <option value="4">L</option>
              <option value="5">XL</option>
            </select>
            <p class="card-text">Celebra el espíritu festivo con nuestra sudadera de festival. Diseñada para brindarte comodidad y estilo durante tus eventos favoritos. Esta sudadera es perfecta para escuchar a tus artistas favoritos durante las noches de festival.</p>
            <a href="#" class="btn btn-primary btn-block" routerLink="/carrito" routerLinkActive="active">Añadir al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/fotosudadera-removebg-preview.png" class="card-img-top" alt="Camiseta" style="height: 100%; width: 80%; margin-top: 50px; margin-left: 65px;">
          <div class="card-body">
            <h5 class="card-title">Camiseta</h5>
            <select class="custom-select mb-2">
              <option selected>Talla</option>
              <option value="1">XS</option>
              <option value="2">S</option>
              <option value="3">M</option>
              <option value="4">L</option>
              <option value="5">XL</option>
            </select>
            <p class="card-text">Con la camiseta de Progresa Fest, estarás listo para sumergirte en la experiencia de este festival y expresar tu amor por los artistas y la cultura festiva. ¡Lleva contigo la buena vibra allá donde vayas!</p>
            <a href="#" class="btn btn-primary btn-block" routerLink="/carrito" routerLinkActive="active">Añadir al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/gorrapng.png" class="card-img-top" alt="Gorra" style="margin-top: 170px;">
          <div class="card-body">
            <h5 class="card-title">Gorra</h5>
            <p class="card-text">Gorra que tiene estar entre indispensables para este festival. Perfecta para disfrutar en el festival sin preocuparte del sol.</p>
            <a href="#" class="btn btn-primary btn-block" routerLink="/carrito" routerLinkActive="active">Añadir al carrito</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/mochila.png" class="card-img-top" alt="Mochila">
          <div class="card-body">
            <h5 class="card-title">Mochila</h5>
            <p class="card-text">Mochila que tiene estar entre indispensables para este festival. Perfecta para poder transportar todos tus objetos tanto en el festival como en día de tu vida.</p>
            <a href="#" class="btn btn-primary btn-block" routerLink="/carrito" routerLinkActive="active">Añadir al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="assets/imagenes/botellapng.png" class="card-img-top" alt="Botella">
          <div class="card-body">
            <h5 class="card-title">Botella</h5>
            <p class="card-text">La botella del festival es tu compañera perfecta para mantener la hidratación y la sostenibilidad mientras disfrutas de tus festivales favoritos. Diseñada pensando en la movilidad y el respeto por el medio ambiente, esta botella ofrece estilo y funcionalidad.</p>
            <a href="#" class="btn btn-primary btn-block" routerLink="/carrito" routerLinkActive="active">Añadir al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
