



<div class="container-fluid d-flex justify-content-around" style="background-color: #F4F6F7; padding-bottom: 30px;">
    <div style="width: 500px; margin-top: 50px;">
        
<div class="container-fluid" style="background-color: #F4F6F7; text-align: center;">
    <div class="row-12">
        <h1>Te contamos nuestra especialidad</h1>
    </div>
</div>
        <div class="card-body" style="text-align: justify;">
            <p>Nuestro equipo de trabajo esta formado por un selecto grupo de expertos, cuya misión es poder ofrecer una experiencia impecable para los aficionadeos de la música que buscan disfrutar de nuestros eventos en vivo. Abarcando diversas disciplinas para proporcionar un servicio de calidad.

                Los principales integrantes del grupo son Carlos y Vicente José por parte de la coordinación logística, Antelo como experto en tecnología y Esteban junto con Emilio como promotores, asegurando una ejecución fluida y colaborativa. Contribuyendo así al éxito y la satisfacción tanto de los clientes como de los artistas.
                </p>
          
            
        </div>
    </div>

    <div style="width: 500px;">
        <div class="card-body">
          
            <img src="assets/imagenes/paaca.jpg" style="width: 500px; height: 350px; margin-top: 50px;">


        </div>
    </div>
</div>
